body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 0 20px;
}
header h2, a {
    display: inline-block;
    vertical-align: middle;
}
header a {
    position: relative;
    left: 850px;
}
header a:hover {
    text-decoration: underline;
}
a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
main {
    padding: 20px;
}
h1 {
    margin: 0;
}
.leave-review {
    margin-bottom: 20px;
}

.leave-review textarea {
    width: 98.5%;
    padding: 10px;
    margin-bottom: 10px;
}

.review {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.review p {
    margin: 5px 0;
    display: inline-block;
}

.review-content {
    font-weight: 900;
}

.review-date, .reply-date {
    position: absolute;
    left: 1320px;
}

.reply {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ececec;
}

.reply-content {
    font-size: 14px;
}

.reply-form textarea {
    width: 98.5%;
    padding: 10px;
    margin-top: 10px;
}

.reply-form input[type=submit] {
    position: relative;
    left: 1375px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #555;
}
