body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 0 20px;
}
header h2, a {
    display: inline-block;
    vertical-align: middle;
}
header a {
    position: relative;
    left: 850px;
}
header a:hover {
    text-decoration: underline;
}
a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
main {
    padding: 20px;
}
h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #333;
    color: #fff;
}
td {
    background-color: #fff;
}  
td a{
    color: #307ce4;
    text-decoration: underline;
}
td a:hover{
    color: #83aaf7;
    text-decoration: none;
}